@import url("https://fonts.googleapis.com/family=Quicksand:400,700");

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin:0;
}
body{
    background-color: #a6b0b3;
    font-family:'Quicksand',sans-serif;
}
.welcome{
    text-align: center;
    margin:0 auto;
    border:1px solid;

}
header{
    background-image: url("../images/shop.png");
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 200px;
}
.top{
    text-align: center;
    background-color: aqua;
    
}
    
.content{
    padding: 1em 4em;
}
.products .product-list{
    padding-left: 0;
    list-style: none;
}
.btn{
    border:1px solid;
}
.proimg{
    border-radius:50%;
}
.products .product-list .product{
    margin:1%;
    height:500px;
   
}
.products .product-list .product img{
    width:100%;
}
.products .product-list .product .product-content{
    padding:2%;
}
.products .product-list .product .product-content h4 small{
    font-size: 10px;
}
.products .product-list .product button{
    display: block;
    margin:2% auto;
    padding: 10px 15px;
    text-transform: uppercase;
    border-radius: 15px;
    outline:none;
}
.cart .cart-list{
    padding-left: 0px;
    list-style: none;
}
.cart .cart-list .item h4,
.cart .cart-list .item .close {
    display:inline;
}
footer{
    background-color: rgb(58, 51, 51);
    color:#FFF;
    text-align:center;
    padding:20px;
}